{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    
    <title>Hospital Simulation Home</title>
</head>
<body>

    <div class="navbar">
        <a href="#" class="hospital-name">Kızılkayalar Hastanesi</a>
        <a href="{% url 'home' %}" class="menü">Ana Sayfa</a>
        <a href="#" class="menü">Hakkında</a>
        <a href="#" class="menü profile-icon">
            <i class="fas fa-user"></i>
        </a>
    </div>
    
    <div class="content">
        <h1 style="color: #333;">Welcome to the Hospital Simulation</h1>
        <div class="container">
            <div class="box">
                <h2 style="color: darkcyan;">Doktor</h2>
                <button onclick="openModal('doctor-register-modal')">Kayıt Ol</button>
                <button class="giris_buton" onclick="openModal('doctor-login-modal')">Giriş Yap</button>
            </div>
            <div class="box">
                <h2 style="color: darkcyan;">Hasta</h2>
                <button onclick="openModal('patient-register-modal')">Kayıt Ol</button>
                <button class="giris_buton" onclick="openModal('patient-login-modal')">Giriş Yap</button>
            </div>
            <div class="box">
                <h2 style="color: darkcyan;">Yönetici</h2>
                <button onclick="openModal('manager-register-modal')">Kayıt Ol</button>
                <button class="giris_buton" onclick="openModal('manager-login-modal')">Giriş Yap</button>
            </div>
        </div>
    </div>

    <!-- Doktor Kayıt Modal -->
    <div id="doctor-register-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('doctor-register-modal')">&times;</span>
            <h2>Doktor Kayıt Formu</h2>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                {{ doctor_form.as_p }}
                <input type="submit" name="doctor-submit" value="Kayıt Ol">
            </form>
        </div>
    </div>

    <!-- Hasta Kayıt Modal -->
    <div id="patient-register-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('patient-register-modal')">&times;</span>
            <h2>Hasta Kayıt Formu</h2>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                {{ patient_form.as_p }}
                <input type="submit" name="patient-submit" value="Kayıt Ol">
            </form>
        </div>
    </div>

    <!-- Yönetici Kayıt Modal -->
    <div id="manager-register-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('manager-register-modal')">&times;</span>
            <h2>Yönetici Kayıt Formu</h2>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                {{ manager_form.as_p }}
                <input type="submit" name="manager-submit" value="Kayıt Ol">
            </form>
        </div>
    </div>

    <!-- Doktor Giriş Modal -->
    <div id="doctor-login-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('doctor-login-modal')">&times;</span>
            <h2>Doktor Giriş Formu</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_type" value="doctor">
                <label for="doctor-email">Email:</label>
                <input type="email" id="doctor-email" name="email" required>
                <label for="doctor-password">Şifre:</label>
                <input type="password" id="doctor-password" name="password" required>
                <input type="submit" name="doctor-login-submit" value="Giriş Yap">
            </form>
        </div>
    </div>

    <!-- Hasta Giriş Modal -->
    <div id="patient-login-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('patient-login-modal')">&times;</span>
            <h2>Hasta Giriş Formu</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_type" value="patient">
                <label for="patient-email">Email:</label>
                <input type="email" id="patient-email" name="email" required>
                <label for="patient-password">Şifre:</label>
                <input type="password" id="patient-password" name="password" required>
                <input type="submit" name="patient-login-submit" value="Giriş Yap">
            </form>
        </div>
    </div>

    <!-- Yönetici Giriş Modal -->
    <div id="manager-login-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('manager-login-modal')">&times;</span>
            <h2>Yönetici Giriş Formu</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_type" value="manager">
                <label for="manager-email">Email:</label>
                <input type="email" id="manager-email" name="email" required>
                <label for="manager-password">Şifre:</label>
                <input type="password" id="manager-password" name="password" required>
                <input type="submit" name="manager-login-submit" value="Giriş Yap">
            </form>
        </div>
    </div>

    <!-- Success Message Modal -->
    <div id="success-message-modal" class="temporary-message-modal">
        <h4>Kayıt başarılı!</h4>
    </div>

    <!-- Error Message Modal -->
    <div id="error-message-modal" class="temporary-message-modal error">
        <h4>Giriş yapılamadı, lütfen kayıt oluşturunuz.</h4>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function openModal(modalId) {
            document.getElementById(modalId).style.display = 'block';
        }
        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function showMessage(messageId) {
            var messageModal = document.getElementById(messageId);
            messageModal.style.display = 'block';
            setTimeout(function() {
                messageModal.style.display = 'none';
            }, 3000);
        }

        // Display success message if applicable
        {% if success_message %}
            showMessage('success-message-modal');
        {% endif %}

        // Display error message if applicable
        {% if error_message %}
            showMessage('error-message-modal');
        {% endif %}
    </script>
</body>
</html>
